<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="kind=='E'">Riassunto Spese (per periodo)</ion-title>
        <ion-title *ngIf="kind=='I'">Riassunto Entrate (per periodo)</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openResumeByType()"><ion-icon name="cube"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar color="primary">
        <ion-item color="primary">
            <ion-label color="light">Mese</ion-label>
            <ion-datetime displayFormat="MMMM YYYY" pickerFormat="MMMM YYYY" monthNames="Gennaio, Febbraio, Marzo, Aprile, Maggio, Giugno, Luglio, Agosto, Settembre, Ottobre, Novembre, Dicembre" [(ngModel)]="period" (ionChange)="onPeriodChanged()"></ion-datetime>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let type of types" (click)="showRecords(type)">
            <ion-icon name="{{type.icon}}" item-start></ion-icon>
            <ion-label>{{type.description}}</ion-label>
            <ion-label *ngIf="hasExtra(type.code)">(con extra)</ion-label>
            <ion-label text-right>{{getTotal(type.code) | number:'1.2-2'}}</ion-label>
        </button>
        <ion-item color="secondary">
            <ion-icon name="" item-start></ion-icon>
            <ion-label><h2>Totale</h2></ion-label>
            <ion-label text-right>{{grandTotal | number:'1.2-2'}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>