<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Bilancio</ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
        <ion-buttons right>
            <ion-item color="primary">
                <ion-label color="light">Anno</ion-label>
                <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" [(ngModel)]="year" (ionChange)="onYearChanged()"></ion-datetime>
            </ion-item>
        </ion-buttons> 
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row *ngFor="let month of months">
            <ion-col>
                <ion-label class="month-number-balance">{{month.number}}</ion-label>
                <ion-label>{{month.name}}</ion-label>
            </ion-col>
            <ion-col>
                <ion-label text-right>{{getIncome(month.number) | number:'1.2-2'}}</ion-label>
                <ion-label text-right>{{getExpense(month.number) | number:'1.2-2'}}</ion-label>
                <ion-label *ngIf="getBalance(month.number) < 0" class="negative-balance" text-right>{{getBalance(month.number) | number:'1.2-2'}}</ion-label>
                <ion-label *ngIf="getBalance(month.number) >= 0" class="positive-balance" text-right>{{getBalance(month.number) | number:'1.2-2'}}</ion-label>
            </ion-col>
            <ion-col>
                <ion-label text-right>{{getProgressiveIncome(month.number) | number:'1.2-2'}}</ion-label>
                <ion-label text-right>{{getProgressiveExpense(month.number) | number:'1.2-2'}}</ion-label>
                <ion-label *ngIf="getProgressiveBalance(month.number) < 0" class="negative-balance" text-right>{{getProgressiveBalance(month.number) | number:'1.2-2'}}</ion-label>
                <ion-label *ngIf="getProgressiveBalance(month.number) >= 0" class="positive-balance" text-right>{{getProgressiveBalance(month.number) | number:'1.2-2'}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <ion-list>
        <button ion-item *ngFor="let month of months" (click)="showRecords(month.number)">
            <ion-label class="month-number">{{month.number}}</ion-label>
            <ion-label>{{month.name}}</ion-label>
            <ion-label text-right>{{getIncome(month.number) | number:'1.2-2'}}</ion-label>
            <ion-label text-right>{{getExpense(month.number) | number:'1.2-2'}}</ion-label>
            <ion-label *ngIf="getBalance(month.number) < 0" class="negative-balance" text-right>{{getBalance(month.number) | number:'1.2-2'}}</ion-label>
            <ion-label *ngIf="getBalance(month.number) >= 0" class="positive-balance" text-right>{{getBalance(month.number) | number:'1.2-2'}}</ion-label>
            <ion-label text-right>{{getProgressiveIncome(month.number) | number:'1.2-2'}}</ion-label>
            <ion-label text-right>{{getProgressiveExpense(month.number) | number:'1.2-2'}}</ion-label>
            <ion-label *ngIf="getProgressiveBalance(month.number) < 0" class="negative-balance" text-right>{{getProgressiveBalance(month.number) | number:'1.2-2'}}</ion-label>
            <ion-label *ngIf="getProgressiveBalance(month.number) >= 0" class="positive-balance" text-right>{{getProgressiveBalance(month.number) | number:'1.2-2'}}</ion-label>
        </button>
    </ion-list> -->
</ion-content>