<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Spese</ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
        <ion-item color="primary">
            <ion-label color="light">Data</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" (ionChange)="onDateChanged()"></ion-datetime>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item-sliding *ngFor="let expense of expenses | async">
            <ion-item>
                <ion-icon name="{{expense.type.icon}}" item-start></ion-icon>
                <h2>{{expense.value | number:'1.2-2'}}</h2>
                <h3>{{expense.type.description}}</h3>
                <p>{{expense.notes}}</p>
                <ion-icon name="alert" *ngIf="expense.extra" title="Spesa straordinaria" item-end></ion-icon>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button icon-only color="primary" (click)="updateExpense(expense.$key, expense.date, expense.value, expense.type, expense.notes, expense.extra)">
                        <ion-icon name="create"></ion-icon>
                </button>
                <button ion-button icon-only color="danger" (click)="confirmDelete(expense.$key)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab (click)="addExpense()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>