<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="kind=='E'">Spese</ion-title>
        <ion-title *ngIf="kind=='I'">Entrate</ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
        <ion-item color="primary">
            <ion-label color="light">Data</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" (ionChange)="onDateChanged()"></ion-datetime>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item-sliding *ngFor="let record of records | async">
            <ion-item>
                <ion-icon name="{{record.type.icon}}" item-start></ion-icon>
                <h2>{{record.value | number:'1.2-2'}}</h2>
                <h3>{{record.type.description}}</h3>
                <p>{{record.notes}}</p>
                <ion-icon name="alert" *ngIf="record.extra" title="Straordinaria" item-end></ion-icon>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button icon-only color="primary" (click)="updateRecord(record.$key, record.date, record.value, record.type, record.notes, record.extra)">
                        <ion-icon name="create"></ion-icon>
                </button>
                <button ion-button icon-only color="danger" (click)="confirmDelete(record.$key)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab (click)="addRecord()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>